@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card_header {
    @apply shadowpalse font-A2Beckett text-4xl uppercase;
    filter: drop-shadow(4px 4px 0px rgba(0, 0, 0, 0.85))
      drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.85));
    box-shadow: #9bf00b;
  }
  .card_text {
    @apply font-montserrat text-xs text-black;
  }
  .scrollycardtitle {
    @apply py-3 font-A2Beckett text-2xl text-black;
  }
  .scrollycardtext {
    @apply font-Purista text-xs leading-5 text-black;
  }
  .scrollycardfooter {
    @apply font-PuristaItalic text-xs italic text-black;
  }
  .firstsec_title {
    @apply py-3 font-A2Beckett text-4xl text-white sm:text-5xl;
  }
  .firstsec_text {
    @apply pb-5 font-CCCutthroat text-xs leading-5 text-white sm:text-base;
  }
  .netogame_H1 {
    @apply font-SST_Light text-4xl leading-[50px] xl:text-[56px];
  }
  .netogame_P {
    @apply font-SST_Light text-xl;
  }
  .netogame_H2 {
    @apply font-SST_Light text-xl;
  }
  .netogame_H3 {
    @apply font-SST_Light text-xs;
  }
  .combarfield_H1 {
    @apply py-3 font-druk_wide_super text-[21px] uppercase md:text-[27px] 2xl:text-[44px];
  }
  .combarfield_H2 {
    @apply py-3 font-druk_wide_super text-[21px] uppercase md:text-[15px] 2xl:text-[18px];
  }
  .combarfield_P {
    @apply my-2 font-druk_text_medium md:text-lg;
  }
  .btn:hover .btn_div {
    @apply scale-[98%] sm:scale-95;
  }
}

@layer base {
  h3 {
    @apply font-futura text-4xl font-bold leading-8 sm:text-4xl xl:text-5xl;
  }
  h2 {
    @apply font-futura text-2xl font-bold leading-8 sm:text-2xl xl:text-4xl;
    text-shadow: 0px 0px 20px black;
  }
  p {
    @apply font-univers55 text-base font-thin leading-7;
    text-shadow: 0px 0px 10px black;
  }
  /* * {
    outline: 1px solid red;
  } */
  *:focus-visible {
    outline: none;
  }
  svg path {
    fill: currentcolor;
  }

  img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .drag {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  /* HI-FI Rush*/
  .cards_bg {
    background-image: url(../../public/hifi/cards_bg.jpg);
    background-size: cover;
    background-repeat: repeat-y;
  }
  .main_bg {
    background-image: url(../../public/hifi/main_bg.webp);
    background-size: cover;
    background-repeat: repeat-y;
  }
  .collapsabale_bg {
    width: 100%;
    height: 100%;
    background-image: url(../../public/hifi/collapasble_bg.png);
    background-size: cover;
    background-repeat: repeat-y;
  }
  .scrollbg {
    /* background-image: url(../../public/hifi/cards_bg.jpg); */
    /* mask-image: url(../../public/hifi/cards_bg.jpg); */
    background-color: rgb(12, 71, 185);
  }
  .cardbgimage {
    background-size: cover;
    position: absolute;

    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;

    opacity: 0.4;
    background-repeat: repeat-y;
    background-image: url(../../public/hifi/card_bg_transparent.png);
    transform: rotate(-25deg);
    transform: translateX(-150px);
    scale: 150%;
  }
  .cardbgimageRight {
    background-size: cover;
    position: absolute;

    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;

    opacity: 0.4;
    background-repeat: repeat-y;
    background-image: url(../../public/hifi/card_bg_transparent.png);
    transform: rotate(230deg) translateX(-180px);
    scale: 150%;
  }
  .cardhover {
    animation: jumpupcard linear infinite;
    animation-duration: 1000ms;
    transform: translateY(0px);
  }
  @keyframes jumpupcard {
    to {
      transform: translateY(-10);
    }
  }
  .shadowstatic {
    filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.85));
  }
  .shadowstaticborder {
    filter: drop-shadow(8px 0px 0px rgba(0, 0, 0, 0.85))
      drop-shadow(-8px 0px 0px rgba(0, 0, 0, 0.85));
  }
  .shadowpalse {
    animation: shadowpulse infinite;
    animation-duration: 900ms;
    filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.85));
  }
  @keyframes shadowpulse {
    to {
      filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.85));
    }
  }
  .shadowpalseonce:hover {
    animation: shadowpulse forwards;
    animation-duration: 100ms;
    transform: translateY(-1px);
    filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.85));
  }

  /* XBOX */
  .btn_parent {
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    transition: text-decoration 1s ease;
  }
  .btn_parent:hover {
    text-decoration-line: underline;
    color: #9bf00b;
  }
  .btn_child_arrow {
    transition-duration: 0.3s;
  }
  .btn_parent:hover .btn_child_arrow {
    transform: translateX(5px);
    transition-duration: 0.3s;
    border-bottom: #9bf00b;
    color: #9bf00b;
  }
  .animatedCard {
    opacity: 1;
    transition: opacity 0.8s;
    transition-duration: 1000ms;
    -webkit-animation-duration: 400ms;
    animation: scrolly linear forwards;
    animation-duration: 400ms;
  }
  .slideAnimationLeft {
    transform: translateX(-25px);
    animation: animateLeft linear forwards;
    animation-duration: 200ms;
  }
  .slideAnimationRight {
    transform: translateX(25px);
    animation: animateRight linear forwards;
    animation-duration: 200ms;
  }
  .slideAnimationLeftImg {
    transform: translateX(9px);
    scale: 105%;
    animation: animateLeft linear forwards;
    animation-duration: 50ms;
  }
  .slideAnimationRightImg {
    scale: 105%;
    transform: translateX(-9px);
    animation: animateRight linear forwards;
    animation-duration: 50ms;
  }

  @keyframes animateLeft {
    to {
      transform: translateX(0);
    }
  }
  @keyframes animateRight {
    to {
      transform: translateX(0);
    }
  }
  @keyframes scrolly {
    to {
      transform: translateY(-32px);
    }
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (min-width: 640px) {
  .xbox {
    background-image: url("../../public/green-bg-pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .goldloop {
    background-image: url("../../public/goldenloop-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .outsiders {
    background-image: url("../../public/outsiders_bg_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 640.95px) {
  .carousel.carousel-slider {
    height: 80vh;
  }
  .xbox {
    background-image: url("../../public/green-bg-mobile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .goldloop {
    background-image: url("../../public/goldenloop-bg-mobile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .outsiders {
    background-image: url("../../public/outsiders_bg_mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .black_bg {
    background-image: url(../../public/combatfield/second_sec_bg_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.edition {
  background-image: url("../../public/edition_bg.jpg");
  background-size: 140% 140%;
  background-position: 60% 60%;
  background-repeat: no-repeat;
}
.media {
  background-image: url("../../public/media_bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*     Netogame      */
@media (min-width: 1024px) {
  .category_container:hover .main_small_image {
    opacity: 40%;
    transition: opacity 100ms linear;
    max-height: 100%;
  }
  .category_container .main_small_image:hover {
    opacity: 100%;
    transition: opacity 100ms linear;
    max-height: 100%;
  }
  .main_small_image_container:hover .main_small_image {
    opacity: 40%;
    transition: opacity 100ms linear;
    max-height: 100%;
  }
  .main_small_image_container .main_small_image:hover {
    opacity: 100%;
    transition: opacity 100ms linear;
    max-height: 100%;
  }

  .main_small_image:hover .carouselimg {
    box-shadow: 0 0.75rem 8px rgba(32, 32, 32, 0.18);
  }
  .netogame_gradientMainimage_mobile {
    display: none;
  }
  .netogame_gradientMainimage_pc {
    background-image: linear-gradient(to right, #1f1f1f 0%, #1f1f1f00 50%);
  }
  .netogame_appear_animation {
    transform: translateY(-40%);
    animation: apear_animation forwards;
    opacity: 0;
    animation-duration: 1s;
  }
  .netogame_appear_animation_mobile {
    animation: none;
  }
  .carousel3_bg {
    background-image: url(../../public/netogame/carousel3_bg_pc.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 1023.95px) {
  .netogame_appear_animation_mobile {
    transform: translateY(40px);
    animation: apear_animation_mobile forwards;
    opacity: 0;
    animation-duration: 1s;
  }
  .carousel3_bg {
    background-image: url(../../public/netogame/carousel3_bg_mobile.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.netogame_gradientMainimage_pc {
  display: none;
}
.netogame_gradientMainimage_mobile {
  background-image: linear-gradient(to top, #1f1f1f 0%, #1f1f1f00 10rem);
}
@keyframes apear_animation_mobile {
  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}
@keyframes apear_animation {
  to {
    transform: translateY(-50%);
    opacity: 100%;
  }
}
.overflow_scrolling {
  /* overflow-x: scroll;
  -webkit-overflow-scrolling: touch; */
}
.netogame_gradientcarousel2 {
  background-image: linear-gradient(to top, #000, #0000);
}
.carousel4_card_shadow:hover {
  box-shadow: #00000029 0px 4px 16px 0px;
}
.carousel4_card_shadow {
  box-shadow: #00000014 0px 4px 8px 0px;
}
.carousel4_card_shadow:hover .carouselimg {
  box-shadow: 0 4px 7px 0 #1f1f1f;
}
.carousel5_gradient {
  background-image: linear-gradient(0deg, #000 -5.39%, transparent 104.31%);
}
.navbar2_shadow:hover {
  box-shadow: 0 0 5px 2px #31313157;
}
.gradient_bg {
  background: linear-gradient(
    60deg,
    rgba(13, 16, 66, 1) 0%,
    rgba(13, 16, 66, 1) 50%,
    rgba(255, 71, 71, 1) 100%
  );
}
.carousel_text_show {
  animation: show 500ms linear forwards;
  opacity: 20%;
}
.carousel_text_hide {
  animation: hide 300ms linear forwards;
  opacity: 20%;
  display: none;
}
@keyframes hide {
  100% {
    transform: translateY(8px);
    opacity: 10%;
    display: none;
  }
  /* 100% {
    display: none;
  } */
}
@keyframes show {
  to {
    transform: translateY(-8px);
    opacity: 100%;
  }
}

.fixed_bg {
  background-image: url(../../public/combatfield/fixed_bg_white.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.black_bg {
  background-image: url(../../public/combatfield/second_sec_bg_pc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient_bg_netoball {
  background: linear-gradient(60deg, #089caf 0%, #089caf 50%, #01e7f9 100%);
}

@media (max-width: 767.95px) {
  .orbitexplore_sec4_bg {
    background-image: url(../../public/orbit_explore/sec4_pic_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 768px) {
  .orbitexplore_sec4_bg {
    background-image: url(../../public/orbit_explore/sec4_pic_pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .orbitexplore_sec5_bg {
    background-image: url(../../public/orbit_explore/sec5_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
